@import 'src/assets/styles/fonts';
@import 'src/assets/styles/colors';
@import 'src/assets/styles/ui';
@import 'src/assets/styles/breakpoints';

.container {
	display: grid;
	grid-template-rows: 65% 1fr;

	width: 100%;
	height: calc(var(--vh, 1vh) * 100);

	.upper_part {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;

		padding: 0 80px;

		background-color: $black_background;
		background-size: 50%;

		object-fit: cover;

		overflow: hidden;

		h1 {
			color: $primary;
		}

		img {
			height: 100%;

			padding-right: 100px;

			transform: translateY(15%);

			filter: brightness(80%);
		}
	}

	.lower_part {
		display: flex;
		flex-direction: row;
		justify-content: end;
		align-items: flex-start;

		padding: 0 80px;

		background-color: white;

		h1 {
			color: $text_h1;
			line-height: 19.2vh;
		}

		h3 {
			color: $text_h1;
			line-height: 34px;

			transform: translate(-3.5vh, 3.5vh);
		}
	}
}
