@import 'src/assets/styles/fonts';
@import 'src/assets/styles/colors';
@import 'src/assets/styles/ui';
@import 'src/assets/styles/breakpoints';

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: calc(var(--vh, 1vh) * 100);

	background-color: $black_background;

	color: white;
}
