@import 'src/assets/styles/fonts';
@import 'src/assets/styles/colors';
@import 'src/assets/styles/swiperStyles.module';

// Default styles reset

html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  scroll-behavior: auto;
}

body {
  background-color: $black_background;

  overscroll-behavior-y: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

h1 {
  @extend %heading-1;
}

h2 {
  @extend %heading-2;
}

h3 {
  @extend %heading-3;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px $white inset;
}
