$fontFamilyAvantt: Avantt, sans-serif;


// HEADINGS

%heading-1 {
	font-family: Anton, sans-serif;
	font-size: 22vh;
	font-weight: 400;
	line-height: 18vh;
	letter-spacing: -6px;
}

%heading-2 {
	font-family: $fontFamilyAvantt;
	font-size: 150px;
	font-weight: 400;
	line-height: 78%;
	letter-spacing: 0;
}

%heading-3 {
	font-family: Avantt TRIAL SemiBold, sans-serif;
	font-size: 48px;
	font-weight: 600;
	line-height: 110%;
	letter-spacing: 0;
}

// BODY TEXT

//%body-text-regular {
//	font-family: $fontFamilySatoshiRegular;
//	font-size: 16px;
//	font-weight: 400;
//	line-height: 160%;
//	letter-spacing: 0;
//}
//
//%body-text-medium {
//	font-family: $fontFamilySatoshiMedium;
//	font-size: 16px;
//	font-weight: 400;
//	line-height: 160%;
//	letter-spacing: 0;
//}
//
//%secondary-text-regular {
//	font-family: $fontFamilySatoshiRegular;
//	font-size: 16px;
//	font-weight: 400;
//	line-height: 160%;
//	letter-spacing: 0;
//}

// BUTTONS

//%button-text {
//	font-family: $fontFamilySatoshiMedium;
//	font-size: 16px;
//	font-weight: 400;
//	line-height: 110%;
//	letter-spacing: 0;
//}
//
//// LOGO
//
//%logo-desktop {
//	font-family: $fontFamilySatoshiBold;
//	font-size: 174px;
//	font-weight: 400;
//	line-height: 110%;
//	letter-spacing: 3.5px;
//}
//
//%logo-mobile {
//	font-family: $fontFamilySatoshiBold;
//	font-size: 45px;
//	font-weight: 400;
//	line-height: 110%;
//	letter-spacing: 1px;
//}
